
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-secondary;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
  font-family: $font-secondary;
  background: none;
  border: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;

  &:focus {
    border: none;
  }
}

button {
  color: $light-main;
  cursor: pointer;
  font-family: $font-secondary;
  transition: ease-out 0.15s;
  text-align: center;
}


body {
  font-family: $font-secondary;
  font-size: 1.3rem;
  background-color: #0000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}


// scroll bar and selection color

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $dark-main;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-main;
  border-radius: 10px;
}

::selection {
  background-color: $purple-main;
  color: $light-main;
}