
// default font
$font-main: 'Urbanist', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-third: 'Poppins', sans-serif;


// dark colors
$dark-main: #14101D;
$dark-img-services: rgba(20, 16, 29, 0.19);
$dark-p: #010101;
$dark-mask-home: rgba(7, 13, 24, 0.95);
$dark-bg-nav: #070d18;


//gray colors

$gray-line-footer: #3F3E45;
$gray-p: #3C3C3C;
$gray-questions: #3E3E3E;
$gray-p-form: #5A5A5A;


// light colors

$light-bg: #FDFBFF;
$light-main: #FFFFFF;
$light-p: #EAEAEA;
$light-bg-form: #F2F0F6;
$light-bg-carousel: #cbc4da;
$light-link-nav: #C9C9C9;
$light-p-services: #F4ECFF;


// purple colors

$purple-main: #6F2BFF;
$purple-gradient-bg-services: linear-gradient(180deg, rgba(96, 20, 255, 1) 0%, rgba(132, 74, 255, 1) 80%);
$purple-gradient-carousel: linear-gradient(166deg, rgba(96, 20, 255, 1) 0%, rgba(132, 74, 255, 1) 35%);