
// default font
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Urbanist', sans-serif;


// main colors
$green-main: #8CA448;
$blue-main: #3497C2;
$main-gradient: linear-gradient(90deg, rgba(0, 147, 209, 0.50) 0%, rgba(105, 209, 4, 0.45) 100%);
$gradient-carousel:linear-gradient(135deg, rgba(142, 170, 57, 0.933) 0%, rgba(24, 125, 179, 0.919) 85%);


// dark colors
$dark-main: #1B1C21;
$dark-p: #1F1F1F;
$dark-bg-nav: #070d18;


//gray colors

$gray-placeholder: #5A5A5A;
$gray-p-services: #363841;
$gray-stroke-footer: #7D7D7D;
$gray-banner-header: #2c2c2c;


// light colors

$light-bg: #F6F8FB;
$light-main: #FFFFFF;
$light-bg-services: #FCFDFF;
$light-bg-input: #F9FEF9;

