
#s-contact {
  background: url(/assets/img/bg-contact.png) no-repeat center / cover;
  height: 100%;
  @include responsive-tablet() {
    height: 85%;
  }
  @include responsive-mobile() {
    background: url(/assets/img/bg-contact.png) no-repeat right center 110px / cover;
    height: 100%;
  }
  .container {
    @include container();
    @include responsive-tablet() {
      padding: 8rem 4rem 10rem 4rem;
    }
    @include responsive-mobile() {
      padding: 8rem 2.5rem 10rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 11rem 2rem 13rem 2rem;
      @include flexbox-center();
      gap: 100px;
      align-items: start;
    }
  }
}

.container-title-contact {
  h1 {
    font: 300 6.5rem $font-main;
    color: $light-main;
    position: relative;
    margin-top: 10rem;
    line-height: 85px;
    @include responsive-mobile() {
      font-size: 3.5rem;
      line-height: 60px;
    }
    span {
      font: 500 6.5rem $font-main;
      color: $light-main;
      @include responsive-mobile() {
        font-size: 3.5rem;
      }
    }
  }
  p {
    margin-top: 4rem;
    font: 300 2rem $font-main;
    color: $light-main;
    max-width: 400px;
    line-height: 42px;
    @include responsive-mobile() {
      margin-bottom: 2.5rem;
    }
    @include responsive-tablet() {
      max-width: 1200px;
    }
    @include responsive-mobile() {
      font-size: 1.7rem;
      line-height: 35px;
      margin-top: 2.5rem;
    }
  }
}

.container-form {
  background-color: $light-main;
  padding: 5rem 8rem 6rem 8rem;
  margin-top: 5rem;
  @include responsive-mobile() {
    padding: 5rem 5rem 6rem 5rem;
  }
  p {
    font: 600 2.5rem $font-main;
    color: $green-main;
    text-align: center;
    margin-bottom: 4rem;
    @include responsive-mobile() {
      font-size: 2.2rem;
    }
  }
}

form {
  ul {
    margin: 0 auto;
    div {
      @include flexbox-center();
      
      gap: 20px;

      @include responsive-mobile {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
      }
    }
    input:not(.button-submit) {
      margin-bottom: 2.5rem;
      padding: 2rem 6rem 2rem 1.8rem;
      border: 1px solid $dark-p;
      border-radius: 3px;
      outline: none;
      caret-color: $green-main;
      font-weight: 300;
      color: $dark-main;
      &::placeholder {
        color: $gray-placeholder;
        font-weight: 400;
        padding: 5px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.input-message {
  width: 570px;
  height: 150px;
  padding-bottom: 4rem;
  @include responsive-mobile {
    width: 275px;
    height: 65px;
  }
}

.button-submit {
  width: 150px;
  height: 50px;
  font: 500 1.5rem $font-main;
  color: $light-main;
  background-color: $green-main;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  border-radius: 1.5px;
  margin-top: .5rem;
  cursor: pointer;
  &:hover {
    background-color: $blue-main;
  }
}