
footer {
  background-color: $dark-main;
  .container {
    @include container();
    text-align: center;
    @include responsive-tablet() {
      padding: 7rem 4rem 6rem 4rem;
    }
    @include responsive-mobile() {
      padding: 5rem 2.5rem 6rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 7rem 4rem 2rem 4rem;
    }
  }
}

.content-footer {
  img {
    width: 300px;
    padding-bottom: 6rem;
  }
  p {
    border-top: 1px solid #3f3e45;
    padding-top: 8rem;
    color: #cccccc;
    font: 300 1.8rem $font-main;
    line-height: 34px;
  }
}

.content-footer-infos {
  @include flexbox-center();
  gap: 20px;
  @include responsive-tablet() {
    flex-wrap: wrap;
  }
  p {
    color: rgba(255, 255, 255, 0.70);
    font: 300 1.6rem $font-secondary;
    padding-top: 4rem;
    line-height: 28px;
  }
  img {
    width: 25px;
    padding-top: 4.5rem;
    color: $light-main;
  }
}

