
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $light-bg;
  transition: background-color .3s ease-in-out;
  margin-bottom: 10rem;
  .container {
    @include container();
    nav {
      @include flexbox-between();
      padding: 2rem;
      .nav-list {
        display: flex;
        gap: 50px;
        @include responsive-tablet() {
          gap: 40px;
        }
        ul {
          margin-top: 10px;
        }
        li {
          a {
            color: $dark-main;
            font: 400 1.7rem $font-main;
            transition: all .3s ease-in-out;
            &:hover {
              color: $green-main;
            }
          }
        }
      }
    }
  }
}

.container-banner-header {
  background: $main-gradient;
  padding: 1rem;
  @include responsive-tablet() {
    display: none;
  }
}

.container-content-banner {
  @include flexbox-between();
  max-width: 1310px;
  margin: 0 auto;
}

.content-banner-header {
  @include align-center();
  @include responsive-tablet() {
    flex-wrap: wrap;
  }
  div {
    @include align-center();
    margin-left: 30px;
    gap: 5px;
    @include responsive-tablet() {
      margin-left: 14px;
    }
    p {
      color: $gray-banner-header;
      font-family: $font-main;
      font-weight: 500;
    }
  }
  img {
    width: 30px;
  }
}

.banner-links {
  @include align-center();
  gap: 17px;
  img {
    width: 23px;
  }
}

.brand {
  width: 180px;
  margin-top: 1rem;
  @include responsive-desktop() {
    display: block;
    width: 240px;
  }
}

.nav-mobile {
  display: none;
  margin-top: 11px;
  div {
    width: 28px;
    height: 2px;
    background-color: $dark-main;
    transition: .4s;
    margin: 6px 0;
  }
  &.active .line1 {
    transform: rotate(45deg) translate(8px, 8px);
  }
  &.active .line2 {
    opacity: 0;
  }
  &.active .line3 {
    transform: rotate(-46deg) translate(3px, -4px);
  }
}

.nav-list.visible {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

@include responsive-tablet() {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    text-align: center;
    position: absolute;
    top: 78px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: $light-bg;
    flex-direction: column;
    padding-top: 4rem;
    visibility: hidden;
    .container-banner-header {
      display: none;
    }
  }
  .nav-mobile {
    display: block;
  }
}

.nav-list {
  @include responsive-desktop() {
    padding-top: .8rem;
  }
}

.solid-nav {
  background-color: $light-bg;
  z-index: 999;
}