
#s-services {
  background: $purple-gradient-bg-services;
  .container {
    @include container();
    @include responsive-tablet() {
      padding: 8rem 4rem 10rem 4rem;
    }
    @include responsive-mobile() {
      padding: 8rem 2.5rem 10rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 11rem 4rem 13rem 4rem;
    }
    button {
      width: 250px;
      height: 56px;
      background-color: $dark-main;
      border-radius: 2px;
      color: $light-main;
      font-weight: 500;
      margin-top: 3rem;
      &:hover {
        background-color: #321a68;
      }
    }
  }
}

.container-text-services {
  h1 {
    font: 600 4.2rem $font-main;
    color: $light-main;
    @include responsive-mobile() {
      font-size: 3.5rem;
    }
  }
  p {
    font: 400 1.7rem $font-secondary;
    max-width: 900px;
    line-height: 28px;
    margin-top: 2rem;
    margin: 2rem 0 8rem 0;
    color: $light-p;
  }
}

.services {
  @include flexbox-center();
  text-align: center;
  flex-wrap: wrap;
  align-items: start;
  gap: 36px;
  article {
    margin-bottom: 2.5rem;
    background-color: #6038cc1f;
    box-shadow: 0 0 40px 5px #6C29F9;
    padding: 3rem 2rem 6rem 2rem;
    border-radius: 20px;
    border: 1px solid #ffffff18;
    transition: all .4s ease-in-out;
    &:hover {
      box-shadow: 0 3px 24px #462e8850;
      margin-top: -16px;
    }
    h2 {
      color: $light-main;
      font: 600 2rem $font-main;
      padding: 2rem 0 1.5rem 0;
    }
    p {
      color: $light-p-services;
      max-width: 357px;
      font: 400 1.5rem $font-secondary;
      line-height: 23px;
      @include responsive-tablet() {
        max-width: 280px;
      }
      @include responsive-desktop2() {
        max-width: 330px;
      }
    }
  }
}

.container-spin {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 69px;
    height: 69px;
    top: 0;
    left: 142px;
    border-radius: 50%;
    border: 1px dashed $light-main;
    animation: spin 12s linear infinite;
    @include responsive-tablet() {
      left: 104px;
    }
    @include responsive-desktop2() {
      left: 129px;
    }
    @include responsive-mobile() {
      left: 104px;
    }
  }
  img {
    width: 70px;
    margin: 0 auto;
    background-color: $dark-img-services;
    transition: 0.5s;
    padding: 1.1rem;
    margin-top: .5rem;
    box-shadow: 0 3px 13px 0 $purple-main;
    border-radius: 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}